{% extends 'showroom/base.html' %}

{% block content %}

<!-- Staff  -->

<div class="my-4  px-4">
    <div class="row">
    <div class="col-md-1">
    <div class="card" style="width: 79rem;">
        <img src="{{ model.image.url }}" style="width: 150px; height: 150px;" ="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ model.brand }} {{ model.name }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <strong>Brand: </strong>{{ model.brand }} <br>
          <strong>Price: </strong>${{ model.price }} <br>
          <strong>Year: </strong>{{ model.year }} <br>
          <strong>Features: </strong>
          <ul>
            {% for feature in model.features.all %}
            <li>
                {{ feature.feature }}
            </li>
            {% endfor %}
          </ul>
          <a href="{% url 'showroom:brand_detail' brand_id=brand.id %}" class="btn btn-primary">Go back</a>
        </div>
      </div>
      </div>
      </div>
      </div>
      <!-- End Staff-->

{% endblock %}